
header {
    z-index: 2;
    height: 10%;
    margin-bottom: 25%;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: grey;
}


.landing {
    visibility: visible;
}

#woogleLogo {
    height: 100px;
    width: 300px;
}

#yoMamaCard {
    text-align: center;
}

#yoMamaJoke {
    cursor: pointer;
}

#gameTitle{
    margin-left: 20%;
}

#platform {
    margin-left: 20%;
}

#relDt {
    margin-left: 20%;
}

#gameDesc {
   
    margin-left: 20%;
    margin-right: 20%;
}

#wikiText {
   
    margin-left: 20%;
    margin-right: 20%;
}

#sidebar {
    background-color: grey;
    z-index: 3;
    text-align: center;
}

#videoPlayer {
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: 4;
    height: 100px;
    width: 200px;
}
/* .results {
     visibility: hidden;
} */

/*#textBody {
    padding: 20px;
    background-image: url("Final\ Fantasy\ 1.jpg"); opacity: 0.2;
    font-weight: bolder;
}*/
button {
    border-style: ridge black;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer; 
}

aside {
    display: flex;
}
main {
    display: flex;
    flex-wrap: wrap;
}
section {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
aside, main, section {
    flex-direction: column;
}

}
